<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Rick and Morty</ion-card-title>
      <ion-card-subtitle>2 de dezembro de 2013</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qJdfO3ahgAMf2rcmhoqngjBBZW1.jpg">
      O brilhante cientista beberrão Rick sequestra Morty, seu neto aborrescente, para viver loucuras em outros mundos e
      dimensões alternativas.
      <ion-button expand="block" fill="outline">Ver mais</ion-button>
    </ion-card-content>

  </ion-card>



  <ion-card>
    <ion-card-header>

      <ion-card-title>Arrow</ion-card-title>
      <ion-card-subtitle>10 de outubro de 2012</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/mo0FP1GxOFZT4UDde7RFDz5APXF.jpg">
      Inspirada nos quadrinhos do Arqueiro Verde, esta série acompanha as aventuras do playboy que se torna super-herói
      e luta contra vilões armado apenas com arco e flechas.
      <ion-button expand="block" fill="outline">Ver mais</ion-button>
    </ion-card-content>

  </ion-card>



  <ion-card>
    <ion-card-header>

      <ion-card-title>The Walking Dead</ion-card-title>
      <ion-card-subtitle>31 de outubro de 2010</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/vxuoMW6YBt6UsxvMfRNwRl9LtWS.jpg">
      Nos Estados Unidos pós-apocalíptico, um pequeno grupo de sobreviventes segue viajando à procura de uma nova casa
      longe dos mortos-vivos. O desespero por seguran…
      <ion-button expand="block" fill="outline">Ver mais</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>