<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <h1>Vingadores: Ultimato</h1>
        <h6>24 de abril de 2019</h6>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/q6725aR8Zs4IwGMXzZT8aC8lh41.jpg" />
        <p>
          Após os eventos devastadores de
          "Vingadores: Guerra Infinita", o universo
          está em ruínas devido aos esforços do
          Titã Louco, Thanos. Com a ajuda de aliados remanescentes…
        </p>
        <ion-button expand="block" fill="outline">Ver Mais</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>Guardiões da Galáxia</h1>
        <h6>30 de julho de 2014</h6>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/jp8VuqoeknyLe56JtFDIqhUaRrZ.jpg" />
        <p>
          O aventureiro do espaço Peter Quill
          torna-se presa de caçadores de recompensas
          depois que rouba a esfera de um vilão
          traiçoeiro, Ronan. Para escapar do perigo, ele…
        </p>
        <ion-button expand="block" fill="outline">Ver Mais</ion-button>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6">
        <h1>1917</h1>
        <h6>25 de Dezembro de 2019</h6>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/p6lDTyJl7SEbv4jZkftVBPndZH2.jpg">
        <p>Em um dos momentos críticos da Primeira Guerra Mundial, dois soldados britânicos, Schofield e Blake, recebem
          uma missão aparentemente impossível. Em uma luta contra…</p>
        <ion-button expand="block" fill="outline">Ver mais</ion-button>
      </ion-col>
      
      <ion-col size="6">
        <h1>Batman: O Cavaleiro das Trevas</h1>
        <h6>16 de julho de 2008</h6>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/sCF3RtQFhA7qMizMgOlcaPc5vC9.jpg">
        <p>Após dois anos desde o surgimento do Batman, os criminosos de Gotham City têm muito o que temer. Com a ajuda
          do tenente James Gordon e do promotor público Harvey…</p>
        <ion-button expand="block" fill="outline">Ver mais</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>